In [344]:
import pandas as pd
import numpy as np

In [345]:
glass = pd.read_csv('Data/glass.csv', header=None)
glass = glass.drop([0],axis=1)

In [346]:
folds = np.array_split(glass, 10)

train = pd.DataFrame()
test = pd.DataFrame()

for i, fold in enumerate(folds):
    if i == 0:
        test = test.append(fold)
    else:
        train = train.append(fold)

In [347]:
train

          1      2     3     4      5     6     7     8    9   10
22   1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.00  0.0   1
23   1.51751  12.81  3.57  1.35  73.02  0.62  8.59  0.00  0.0   1
24   1.51720  13.38  3.50  1.15  72.85  0.50  8.43  0.00  0.0   1
25   1.51764  12.98  3.54  1.21  73.00  0.65  8.53  0.00  0.0   1
26   1.51793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.0   1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[192 rows x 10 columns]

In [348]:
test

         1      2     3     4      5     6     7    8     9   10
0   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00   1
1   1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00   1
2   1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00   1
3   1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00   1
4   1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00   1
5   1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26   1
6   1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00   1
7   1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00   1
8   1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00   1
9   1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11   1
10  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.0  0.24   1
11  1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.0  0.00   1
12  1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.0  0.24   1
13  1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.0  0.17   1
14  1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.0  0.00   1
15  1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.0  0.00   1
16  1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.0  0.00   1
17  1.52196  14.36  3.85  0.89  71.36  0.15  9.15  0.0  0.00   1
18  1.51911  13.90  3.73  1.18  72.12  0.06  8.89  0.0  0.00   1
19  1.51735  13.02  3.54  1.69  72.73  0.54  8.44  0.0  0.07   1
20  1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.0  0.19   1
21  1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.0  0.00   1

In [349]:
train_y = train.iloc[:, 9]
train.drop(10, axis=1, inplace=True)

test_y = test.iloc[:, 9]
test.drop(10, axis=1, inplace=True)

In [350]:
train

           1      2     3     4      5     6     7     8    9
22   1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.00  0.0
23   1.51751  12.81  3.57  1.35  73.02  0.62  8.59  0.00  0.0
24   1.51720  13.38  3.50  1.15  72.85  0.50  8.43  0.00  0.0
25   1.51764  12.98  3.54  1.21  73.00  0.65  8.53  0.00  0.0
26   1.51793  13.21  3.48  1.41  72.64  0.59  8.43  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[192 rows x 9 columns]

In [351]:
test

          1      2     3     4      5     6     7    8     9
0   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00
1   1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00
2   1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00
3   1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00
4   1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00
5   1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26
6   1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00
7   1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00
8   1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00
9   1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11
10  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.0  0.24
11  1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.0  0.00
12  1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.0  0.24
13  1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.0  0.17
14  1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.0  0.00
15  1.51761  12.81  3.54  1.23  73.24  0.58  8.39  0.0  0.00
16  1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.0  0.00
17  1.52196  14.36  3.85  0.89  71.36  0.15  9.15  0.0  0.00
18  1.51911  13.90  3.73  1.18  72.12  0.06  8.89  0.0  0.00
19  1.51735  13.02  3.54  1.69  72.73  0.54  8.44  0.0  0.07
20  1.51750  12.82  3.55  1.49  72.75  0.54  8.52  0.0  0.19
21  1.51966  14.77  3.75  0.29  72.02  0.03  9.00  0.0  0.00

In [352]:
test_y

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
Name: 10, dtype: int64

In [353]:
def lpNorm(x, y, p):
    sum = 0
    for i in range(len(x)):
        sum += pow(x[i]-y[i], p)
    return pow(sum, (1/p))

# def predict(test, train, test_y, train_y):
print(test.loc[0])
print(test.loc[1])

print(lpNorm(np.array(test.loc[0]), np.array(test.loc[1]), 2))

1     1.52101
2    13.64000
3     4.49000
4     1.10000
5    71.78000
6     0.06000
7     8.75000
8     0.00000
9     0.00000
Name: 0, dtype: float64
1     1.51761
2    13.89000
3     3.60000
4     1.36000
5    72.73000
6     0.48000
7     7.83000
8     0.00000
9     0.00000
Name: 1, dtype: float64
1.687457128344304

In [354]:
def predict(test, train, train_y, k):
    neighbors = []
    classes = []
    for i, row in train.iterrows():
        dist = lpNorm(np.array(row), np.array(test), 2)
        if len(neighbors) == 0:
            neighbors.append(dist)
            classes.append(train_y[i])
        else:
            print(dist)
            isPut = False
            for j in range(0,len(neighbors)):
                if neighbors[j] > dist:
                    neighbors.insert(j, dist)
                    classes.insert(j, i)
                    isPut = True
                    break
            
        if len(neighbors) > k:
            neighbors = neighbors[0:len(neighbors) - 1]
            classes = classes[0:len(classes) - 1]
        print(classes)
        print(neighbors)

predict(train.loc[22], test, test_y, 5)

[1]
[1.6840764004343782]
1.4177447099178333
[1, 1]
[1.4177447099178333, 1.6840764004343782]
1.2475180930150849
[2, 1, 1]
[1.2475180930150849, 1.4177447099178333, 1.6840764004343782]
0.6730528136780964
[3, 2, 1, 1]
[0.6730528136780964, 1.2475180930150849, 1.4177447099178333, 1.6840764004343782]
0.8515867563554487
[3, 4, 2, 1, 1]
[0.6730528136780964, 0.8515867563554487, 1.2475180930150849, 1.4177447099178333, 1.6840764004343782]
0.7800653562362555
[3, 5, 4, 2, 1]
[0.6730528136780964, 0.7800653562362555, 0.8515867563554487, 1.2475180930150849, 1.4177447099178333]
0.8150460139771245
[3, 5, 6, 4, 2]
[0.6730528136780964, 0.7800653562362555, 0.8150460139771245, 0.8515867563554487, 1.2475180930150849]
0.7804486145800951
[3, 5, 7, 6, 4]
[0.6730528136780964, 0.7800653562362555, 0.7804486145800951, 0.8150460139771245, 0.8515867563554487]
1.5035302831669237
[3, 5, 7, 6, 4]
[0.6730528136780964, 0.7800653562362555, 0.7804486145800951, 0.8150460139771245, 0.8515867563554487]
0.4429447325570032
[9, 3, 5, 7, 6]
[0.4429447325570032, 0.6730528136780964, 0.7800653562362555, 0.7804486145800951, 0.8150460139771245]
0.8404181831088594
[9, 3, 5, 7, 6]
[0.4429447325570032, 0.6730528136780964, 0.7800653562362555, 0.7804486145800951, 0.8150460139771245]
0.26551849822564005
[11, 9, 3, 5, 7]
[0.26551849822564005, 0.4429447325570032, 0.6730528136780964, 0.7800653562362555, 0.7804486145800951]
0.8879201320501712
[11, 9, 3, 5, 7]
[0.26551849822564005, 0.4429447325570032, 0.6730528136780964, 0.7800653562362555, 0.7804486145800951]
0.5662155193916788
[11, 9, 13, 3, 5]
[0.26551849822564005, 0.4429447325570032, 0.5662155193916788, 0.6730528136780964, 0.7800653562362555]
0.5659505922781596
[11, 9, 14, 13, 3]
[0.26551849822564005, 0.4429447325570032, 0.5659505922781596, 0.5662155193916788, 0.6730528136780964]
0.5564171658926322
[11, 9, 15, 14, 13]
[0.26551849822564005, 0.4429447325570032, 0.5564171658926322, 0.5659505922781596, 0.5662155193916788]
0.3635934960914394
[11, 16, 9, 15, 14]
[0.26551849822564005, 0.3635934960914394, 0.4429447325570032, 0.5564171658926322, 0.5659505922781596]
2.2694319024813283
[11, 16, 9, 15, 14]
[0.26551849822564005, 0.3635934960914394, 0.4429447325570032, 0.5564171658926322, 0.5659505922781596]
1.429861203928551
[11, 16, 9, 15, 14]
[0.26551849822564005, 0.3635934960914394, 0.4429447325570032, 0.5564171658926322, 0.5659505922781596]
0.5500909016698969
[11, 16, 9, 19, 15]
[0.26551849822564005, 0.3635934960914394, 0.4429447325570032, 0.5500909016698969, 0.5564171658926322]
0.3451087069315993
[11, 20, 16, 9, 19]
[0.26551849822564005, 0.3451087069315993, 0.3635934960914394, 0.4429447325570032, 0.5500909016698969]
2.4440755491596446
[11, 20, 16, 9, 19]
[0.26551849822564005, 0.3451087069315993, 0.3635934960914394, 0.4429447325570032, 0.5500909016698969]

In [355]:
a = list(range(0,5))
a[0:len(a)-1]

[0, 1, 2, 3]